body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 16px 54px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.is-blurred {
  filter: blur(2px);
}

/* header */

.main-header {
  background-color: #eeeeee;
}

.main-header .main-navigation {
  display: flex;
  padding-top: 49px;
}

.main-header .header-logo {
  width: 160px;
  height: 65px;
}

.main-header ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a.header-logo:hover,
a.header-logo:focus {
  opacity: 0.8;
}

a.header-logo:active {
  opacity: 0.3;
}

ul.site-navigation,
ul.user-navigation {
  padding-top: 26px;
}

ul.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 840px;
}

ul.user-navigation {
  max-width: 180px;
  margin-left: auto;

  text-align: right;
}

.site-navigation li,
.user-navigation li {
  position: relative;
}

.site-navigation a,
.user-navigation a {
  display: block;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a.current::after,
.user-navigation a.current::after {
  content: "";
  position: absolute;
  right: 23px;
  bottom: 4px;
  left: 23px;

  height: 2px;

  background-color: #fb565a;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
  color: #fb565a;
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a {
  padding: 0 23px;
}

.user-navigation a {
  position: relative;

  padding-left: 40px;
}

.user-navigation a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
}

/* main page */

.slider {
  position: relative;

  min-height: 433px;
}

.slider .slider-item {
  height: 433px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider .slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
}

.slider .slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
}

.slider .slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
}

.slider-description {
  width: 538px;
}

.slider-description h2 {
  margin: 0;
  width: 538px;
  
  padding-top: 77px;
  padding-right: 60px;
  padding-bottom: 12px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-description p {
  width: 416px;
  margin-bottom: 38px;
  padding-right: 60px;
}

.slider-controls {
  position: absolute;
  bottom: 98px;
  left: 535px;
}

.slider-controls button {
  width: 18px;
  height: 18px;
  margin-right: 14px;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}

.slider-controls button.current {
  width: 18px;
  height: 18px;

  background-color: #a8a2a2;
  border-radius: 50%;
}

/* .fade-in {
  animation: fade 3s ease-in;
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 0.5;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 1;
  }
} */

/* services */

.services {
  padding: 80px 0;

  border-bottom: 2px solid #eeeeee;
}

.services .services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 60px;
}

.services-item img {
  display: block;
  width: 300px;
  height: 146px;
}

.services-item h3 {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 17px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item p {
  margin-bottom: 32px;
  padding-right: 20px;
}

.services-item .button {
  padding: 16px 40px;
}

.services-item:nth-child(2) .button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .button:hover,
.services-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

/* about us */

.about-us {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 49px;

  border-bottom: 2px solid #eeeeee;
}

.about-us .col-left {
  width: 660px;
  padding-top: 33px;
}

.about-us .col-right {
  width: 360px;
}

.about-us-text .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  text-transform: none;
}

.about-us-text p:first-of-type {
  margin-top: 32px;
}

.about-us-text p:last-of-type {
  margin-top: 40px;
  margin-bottom: 24px;
}

.about-us-text b {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us-text .about-us-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-list li {
  position: relative;

  margin-bottom: 24px;
  padding-left: 36px;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

/* second-col */

.about-us-info img {
  display: block;
  width: 360px;
  height: 208px;
}

.about-us-table {
  margin-top: 36px;
}

.about-us-table caption {
  margin-bottom: 37px;

  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us-table thead {
  display: table-footer-group;

  text-align: left;
}

.about-us-table th {
  font-weight: normal;
  line-height: 18px;
  padding-top: 18px;
}

.about-us-table tbody {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us-table sup {
  font-size: 28px;
}

/* partners */

.partners {
  padding-bottom: 81px;
}

.partners .partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 44px;

  list-style: none;

  border-bottom: 2px solid #eeeeee;
}

.partners-list .partners-list-item {
  width: 260px;
  position: relative;
}

.partners-list-item:not(:nth-child(4n + 4))::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: -20px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: #EEEEEE;
}

.partners-list-item a {
  display: flex;
  justify-content: center;

  opacity: 0.2;
}

.partners-list-item a:hover,
.partners-list-item a:focus {
  opacity: 1;
}

.partners-list-item a:active {
  opacity: 0.1;
}

.partners-list-item img {
  width: auto;
}

/* footer */

.contacts {
  position: relative;

  height: 416px;
  padding-bottom: 67px;
  overflow: hidden;
}

.contacts iframe {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 416px;

  border: none;
}

.contacts img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  width: 1440px;
  height: 416px;

  transform: translateX(-50%);
}

.contacts-info {
  position: absolute;
  top: 52px;
  z-index: 2;

  width: 220px;
  padding: 48px 50px 47px 50px;

  background-color: #ffffff;
} 

.map-marker img {
  content: "";
  position: absolute;
  top: 68px;
  left: 1090px;
  z-index: 1;

  width: 231px;
  height: 190px;
}

.contacts-info b {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-info-text:first-of-type {
  margin: 0;
  margin-top: 23px;
}

.contacts-info-text:last-of-type {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 13px;
}

.contacts-info-text,
.contacts-info-text a {
  line-height: 18px;
  color: #666666;
}

.contacts-info .write-us {
  margin-top: 23px;
  padding: 16px 44px;
}

/* social bar */

.social {
  padding-bottom: 70px;
}

.social .container {
  display: flex;
}

.social .social-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list li {
  margin-right: 12px;
}

.social .social-text {
  width: 760px;
  padding-top: 5px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active svg {
  opacity: 0.3;
}

/* social text */

.social-text b {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-text p {
  margin-top: 9px;

  line-height: 22px;
  color: #444444;
}

/* footer end */

/* modal section */

.modal {
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-contacts {
  position: fixed;
  top: 156px;
  left: 50%;
  z-index: 3;

  width: 760px;
  margin-left: -480px;
  padding: 68px 100px 85px 100px;

  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-contacts-row {
  display: flex;
  justify-content: space-between;
}

.modal-contacts-row div {
  width: 360px;
  padding-top: 12px;
  margin-bottom: 32px;
}

.modal-contacts h2 {
  margin: 0;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 87px;

  width: 27px;
  height: 27px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 27px;
  height: 5px;

  background-color: #fb565a;
  transform: rotate(45deg);
}

.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 27px;
  height: 5px;

  background-color: #fb565a;
  transform: rotate(-45deg);
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.contacts-form {
  position: relative;
}

.contacts-form label {
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.contacts-form input,
.contacts-form textarea {
  box-sizing: border-box;
  width: 100%;
  margin-top: 6px;
  padding: 13px;

  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 4px;
}

.contacts-form input:hover,
.contacts-form textarea:hover {
  border-color: #b4b9bb;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  border-color: #000000;
}

.contacts-form input:focus::placeholder,
.contacts-form textarea:focus::placeholder {
  opacity: 1;
}

.contacts-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.contacts-form textarea {
  min-height: 119px;
  margin-bottom: 24px;
}

.contacts-form .button {
  padding: 16px 84px;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* store page */

.page-title {
  background-color: #eeeeee;
}

.page-title h1 {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 109px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

main.inner-page {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 72px;
}