/*global*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



a {
    text-decoration: none;
}


/*grid*/

.page {
    height: 100%;
}

/*button*/

.button {
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #FB565A;
    border: none;
    border-radius: 3px;
}

.button:hover {
    background: #E74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #D7373B;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*header*/


.main-header {
    padding-top: 50px;
    padding-bottom: 0;
    background-color: #eeeeee;
}

.main-heading {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
}

/*filters*/

.filter ul {
    list-style: none;
}

.filter ul li {
    line-height: 20px;
}

.filter-input-checkbox {
    color: #283136;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {

}

/*main navigation*/


.main-navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase ;
}

.site-navigation {
    display: flex;
    list-style: none;
}

.site-navigation a {
    display: block;
}

.site-navigation li:not(:last-child) {
    margin-right: 45px;
}



.page-title {
    background-color: #eeeeee;
}

.page-title h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

 /*logo*/

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

/*container*/

.container {
    width: 1160px;
    margin: 0 auto;
}

/*user navigation*/

.cart-link {
    position: relative;
    padding-left: 40px;
}

.cart-link:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: #FB565A;
}

.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
}

.site-navigation .current {
    position: relative;
}

.site-navigation .current:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    right: 0;
    bottom: -10px;
    background-color: #f7898b;
}



/*slider*/

.background-container-slider {
    background-color: #eeeeee;
}

.main-slider {
    position: relative;
}

.slider-header {
    width: 540px;
    display: block;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}

.slider-item {
    width: 100%;
    height: 430px;
    margin: 0;
    padding: 0;
    padding-top: 78px;
}

.slide-1 {
    display: block;
    background-image: url("../img/slide1.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.slider-button {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    border-color: none;
}

.slider-button-1 {
    top: 60%;
    left: 46%;
}

.slider-button-2 {
    top: 60%;
    left: 48%;
}

.slider-button-3 {
    top: 60%;
    left: 50%;
}

.slider-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    margin-bottom: 38px;
    margin-top: 25px;
}

.slider-item .button {
    padding: 15px 54px;
}

/*catalog*/

.page-catalog {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
}

.sorting-menu {
    display: flex;
}

.sort-by-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.sort-by-list li {
    margin-right: 25px;
}

.arrow-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.sorting-menu {
    text-transform: uppercase;
}

.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    list-style: none;
}

.arrow-list {
    list-style: none;
}

.catalog-item h3 {
    text-transform: uppercase;
}

.catalog-item p {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

/*services*/

.services {
    padding: 80px 0;
    border-bottom:  2px solid #eeeeee;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

}

.services-item {
    width: 300px;
    margin-right: 60px;
}

.services-item h3 {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 17px;

    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item p {
    margin-bottom: 32px;
}

.services-item .button {
    padding: 16px 40px;
    min-width: 160px;
}

.button-style-2 {
    background: #00CA74;
}

.button-style-2:hover {
    background: #00BC6C;
}

.button-style-2:active {
    color: rgba(255, 255, 255, 0.3);
    background: #00AA62;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}


.button-style-3 {
    background: #EFC849;
}

.button-style-3:hover {
    background: #EAB534;
}

.button-style-3:active {
    color: rgba(255, 255, 255, 0.3);
    background: #E5A722;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*about section*/

.about-grid {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
    margin-top: 25px;
    padding-bottom: 80px;
}

.col-left {
    width: 665px;
}

.col-right {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


    /*left panel*/


.about-header {
    width: 650px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 35px;
}

.about-description {
    margin: 0;
    margin-bottom: 30px;
}


.we-offer-heading {
    font-weight: 700;
    text-transform: uppercase;
}

.offer-list {
    list-style: none;
    height: 120px;
}

.offer-item {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.offer-item:before {
    position: absolute;
    content: "";
    left: -40px;
    top: 10px;
    width: 25px;
    height: 2px;
    background-color: #D7373B;
}

    /*right-panel*/

.about-us-table caption {
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-table thead {
    display:table-footer-group;
    text-align: left;
}

.about-us-table th {
    font-weight: 400;
    line-height: 18px;
}

.about-us-table tbody {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.about-us-table sup {
    font-size: 28px;
}

.col-right img {
    display: block;
    width: 360px;
    height: 208px;
}

/*partners*/

.partners {
    padding-bottom: 80px;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 52px;
    padding-bottom: 44px;

    border-bottom: 2px solid #eeeeee;
}

.partners-list a {
    opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
    opacity: 1;
}

.partners-list a:active {
    opacity: 0.1;
}

/*modal*/

.modal {
    position: fixed;
    top: 80px;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    width: 960px;
    padding-top: 63px;
    padding-bottom: 84px;
    background: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    display: none;
}

.contact-form-item input {
    border: 2px solid #D7DCDE;
    border-radius: 3px;
}

.contact-form-item input {
    font: inherit;
}

.contact-form-item input:hover {
    border-color: #B4B9BB;
}

.contact-form-item input:focus {
    border-color: #000000;
}

.contact-form-item input:invalid {
    border-color: #E74246;
}

/*pagination*/

.pagination-list {
    list-style: none;
}

.pagination-item a {
    color: #000000;
    background: #EEEEEE;
    border-radius: 3px;
}

.pagination-item .current {
    background: #FFFFFF;
    border: 3px solid #DBDBDB;
    border-radius: 3px;
}

/*footer*/

.contacts {
    margin-bottom: 68px;
    position: relative;
}

.contacts-list {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 319px;
    min-height: 308px;
    padding-top: 49px;
    padding-bottom: 47px;
    justify-self: start;
    position: absolute;
    top: auto;
    bottom: auto;
    padding-left: 50px;
    top: 54px;
}

.contacts .button {
    line-height: 20px;
    padding: 16px 44px;
    min-width: 219px;
}

.contacts-tel {
    color: inherit;

}


.contacts h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 22px;
}

.contacts-list p {
    margin: 0;
    line-height: 18px;
}

.contacts-address {
    width: 230px;
    min-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 37px;
}

/*social section*/

.footer-columns {
    display: flex;

}

.footer-social {
    margin-right: 139px;
    margin-top: -10px;
    align-items: center;
}

footer {
    margin-bottom: 68px;
}

.footer-social-list {
    width: 260px;
    display: flex;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background-color: #E1E1E1;
    color: inherit;
    border-radius: 50%;
}

.footer-social-list li:not(:last-child) {
    margin-right: 9px;
}

.footer-social-icons li:hover {
    background-color: #E74246;
}

.social-button:active {
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer-social-icons img:active {
}





.social-list li {
    margin-right: 9px;
}

.social-text-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.social-text {
    line-height: 22px;
}

 /*social buttons*/

.footer-social {
    display: flex;
}

.footer-social-list {
    display: flex;
    list-style: none;
}


/*social text*/

.footer-social-text strong {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.footer-social-text p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}